body,html,#container{
    font-family: "Pacifico",cursive;
    font-size: 50px;
    font-style: normal;
    height: 100%;
}

body,html,#container,#computer-div,#player-div,#win-statistics{
    display: flex;
    justify-content: center;
    align-items: center;
}

body,html,#container,#computer-div,#player-div{
    width: 100%;
}

body,html,#win-statistics p{
    margin: 0;
}

#container{
    flex-direction: column;
    position: relative;
}

#computer-div,#player-div{
    flex: 1;
}

#win-statistics{
    position: absolute;
    flex-direction: column;
    padding: 10px;
    height:75px;
    width: 80%;
    border-radius: 50px; 
    font-size: 30px;
}

#win-statistics p{
    line-height: 45px;
}

#player-div{
    display: flex;
    flex-direction: column;
}

#player-div p{
    margin: 10px;
}

#player-choice{
    display:flex;
    justify-content:space-evenly;
    width: 100%;
}

button{
    cursor: pointer;
}

.btn{
    transition: 0.2s;
    font-family: "Pacifico",cursive;
    font-size: 40px;
    padding: 0 5px;
    font-style: normal;
    border-radius: 40px;
    background-color: white;
    border: solid black 2px;
}

.hover-effect1:hover,.hover-effect2:hover{
    transition: 0.2s;
}

.hover-effect1:active,.hover-effect2:active{
    transition: 0.1s;
}

.hover-effect1:hover{
    background-color: aqua !important;
    border-color:rgb(222, 222, 222) !important;
    color: rgb(222, 222, 222) !important;
}

.hover-effect1:active{
    background-color: hotpink;
}

.hover-effect2:hover{
    background-color: lightpink !important;
}

.hover-effect2:active{
    background-color: lightblue !important;
}

#reset-button{
    font-weight: bold;
    font-size: 15px;
    margin-left: 31px;
    background-color: white;
    border-radius: 25px;
    border: solid black 1px;
    padding: 10px 15px;
}

#reset-button-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.active-background{
    color: rgb(222,222,222);
    border-color: rgb(222,222,222) !important;
}

@media (max-width: 425px) {

    #reset-button{
        margin-left: 15px;
    }

    .btn{
        font-size: .6rem;
    }

    #selected-option,#computer-choice{
        font-size: .8rem;
    }
}

@media (min-width: 768px) {
    
    body,html{
        font-size: 25px;
    }

    .btn{
        border-radius: 5rem;
        padding:0rem 1rem;
        font-size: 2rem; 
    }

    #reset-button{
        font-size:1.5rem;
        border-radius: 1.8rem;
        padding: 1rem;
    }

    #selected-option,#computer-choice{
        font-size: 3.5rem;
    }

    #win-statistics{
        font-size:1.8rem;
        padding: 1rem;
        border-radius: 2.5rem;
    }

    #win-statistics p{
        line-height: 2.8rem;
    }
}

@media (min-width: 2560px){
    #win-statistics{
        font-size: 6rem;
        padding:9rem 5rem;
        border-radius: 10rem;
    }

    #win-statistics p{
        line-height: 9rem;
    }

    .btn{
        border-radius: 180px;
        padding: 1.5rem;
        font-size: 7rem;
    }

    #reset-button{
        font-size: 130px;
        border-radius: 150px;
        padding: 50px;
        margin-left: 150px;
    }

    #reset-button-container{
        margin-top: 6rem;
    }

    #computer-choice,#selected-option{
        font-size: 9rem;
    }

    #player-choice{
        margin-top: 3rem;
    }
}